<!DOCTYPE html>
<script src="/static/joy.js"></script>
<div id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Item ID: {{ id }}</h1>
       <div class="container">
            {% set cu = CustomURLProcessor() %}
            {% set _url = cu.url_for2(request, 'stream-fpv') %}
            <iframe src="{{ _url }}" width = 1920 height = 1080 style= "border: none;"></iframe>
        </div>

  <div class="container space-top">
    <h1 class="center blue-text thin">Canvas Joystick</h1>
    <div class="center-align">
      <canvas id="joystick" height="300" width="300"></canvas>
    </div>
    <p id="xVal" class="light">X: </p>
    <p id="yVal" class="light">Y: </p>
  </div>

</body></html>

<script type="text/javascript">
// Create JoyStick object into the DIV 'joyDiv'
var joy = new JoyStick('joyDiv');
var joy2 = new JoyStick('joyDiv2');

</script>

